<div class="page-container flex-col lg:p-8">
  <h2 class="text-3xl lg:text-4xl 2xl:text-5xl py-6 primary-text font-light text-center">FAQ</h2>
  <div class="w-full mb-8 p-10 md:block lg:w-11/12 2xl:w-3/4">
    <div class="overflow-hidden shadow-md mt-3 rounded-t-lg">
      <hr>
      <table class="min-w-full">
        <thead class="primary text-white uppercase tracking-wider text-xl">
          <tr>
            <th class="py-4 text-center pl-6" colspan="2">Topics</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-slate-300 font-bold">
          <tr *ngFor="let faq of faqs">
            <td class="px-6 py-2 border-r-2 border-gray-300">
              <div class="text-left w-full">
                {{ faq.question }}
              </div>
            </td>
            <td class="px-6 py-2">
              <a (click)="openDialog(faq)" class="px-6 py-2 p-5 tracking-wider rounded-lg underline text-blue-500 hover:cursor-pointer hover:text-blue-400">
                Click here for more information
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
