<nav class="bg-white">
  <div class="base-container flex flex-wrap items-center justify-between mx-auto py-1 px-4 shardow-bottom">
    <a routerLink="/" routerLinkActive="active" class="flex items-center pl-2">
      <img src="/assets/images/logo.png" alt="Bob's Computer Repair Shop Logo" width="300px" class="p-1">
      <span class="self-center text-2xl font-semibold whitespace-nowrap"></span>
    </a>
    <button (click)="toggleMenu()" id="menu-toggle" type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden bg-transparent focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <mat-icon class="primary-text">menu</mat-icon>
    </button>
    <div [ngClass]="{'hidden': !menuVisible, 'block': menuVisible, 'w-full': true, 'md:block': true, 'md:w-auto': true}"
      id="navbar-default">

      <ul
        class="text-lg flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 tertiary-text">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="block py-1 px-2 uppercase tracking-widest">Home</a></li>
        
        <li><a routerLink="/about" routerLinkActive="active" class="block py-1 px-2 uppercase tracking-wider">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" class="block py-1 px-2 uppercase tracking-wider">Contact</a></li>
        <li *ngIf="isSignedIn">
          <a routerLink="/service-repair" routerLinkActive="active" class="block py-1 px-2 uppercase tracking-wider">Service Repair</a>
        </li>

        <li [ngClass]="{'hidden': isSignedIn, 'm-0': isSignedIn}">
          <a *ngIf="!isSignedIn" routerLink="/security/registration" class="block py-1 px-2 uppercase tracking-wider">Register</a>
        </li>
        <li [ngClass]="{'hidden': isSignedIn, 'm-0': isSignedIn}">
          <a *ngIf="!isSignedIn" routerLink="/security/signin" class="block py-1 px-2 uppercase tracking-wider">Log In</a>
        </li>

        <li *ngIf="isSignedIn" class="logged-in-menu relative">
          <a (click)="toggleDropdown()" class="flex items-center px-2 py-1 md:px-0 uppercase tracking-wider bg-transparent">
            <mat-icon class="mr-2 mb-1">person</mat-icon>
            <span>Hi, {{ appUser.firstName }}</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </a>

          <ul id="dropDownMenu" data-dropdown-toggle="dropdownMenu" 
            *ngIf="dropdownVisible" 
            class="absolute md:right-0 mt-4 w-48 rounded-b-lg bg-white">
            <li>
              <a routerLink="/employee-list" class="block w-full text-left py-2 px-4 tracking-wider">Employee List</a>
            </li>
            <li>
              <a routerLink="/faq" class="block w-full text-left py-2 px-4 tracking-wider">FAQ</a>
            </li>
            <li>
              <a routerLink="/profile" class="block w-full text-left py-2 px-4 tracking-wider">Profile</a>
            </li>
            <!-- *ngIf=isAdmin -->
            <li>
              <a routerLink="/service-graph" class="block w-full text-left py-2 px-4 tracking-wider">Service Graph</a>
            </li>
            <li>
              <a (click)="signOut()" class="block w-full text-left py-2 px-4 tracking-wider">Sign Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
