<!-- LOGO -->
<div class="pt-6 border-slate-600 base-container">
   <a routerLink="/">
    <img src="./assets/images/logo.png" alt="Bob's Computer Repair Shop Logo" width="300px" class="pl-6 py-3">
  </a>
</div>

<div class="page-container w-full flex justify-center bg-white">
  <form
  [formGroup]="resetPasswordForm"
  (ngSubmit)="resetPassword(); resetPasswordForm.reset()"
  class="form overflow-hidden rounded-lg shadow-md mt-3 w-full lg:w-1/3"
  >
  <div class="primary text-3xl text-white text-center uppercase font-bold tracking-wide py-3">
    Reset Password
  </div>

  <fieldset class="form-group">

    <div *ngIf="errorMessage" class="flex justify-center py-3">
      <div class="text-center text-red-800 bg-red-300 border rounded w-full lg:w-1/2">
        {{ errorMessage }}
      </div>
    </div>

    <div class="pt-12 px-2 flex justify-between mx-3">
      <label for="txtPassword" class="py-1 px-2">Password:</label>
      <input id="password" [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
              [ngClass]="{'border-red-600': errorMessage, 'placeholder-err': errorMessage}"
              placeholder=" Enter Your New Password"
              class="w-full shadow-md rounded lg:w-4/5">
            <span
              class="px-4 inline-flex items-center rounded-r-lg border border-gray-300 bg-gray-300 focus:outline-none focus:shadow focus:border-blue-200">
              <i class="fa" [ngClass]="
                {
                'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
                }" (click)="toggleFieldTextType()">
              </i>
            </span>
    </div>

    <div
    *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)"
    class="py-2 text-center text-xs text-red-700 font-bold tracking-wide"
    role="alert"
    >
      <div *ngIf="resetPasswordForm.controls['password'].hasError('required')">
        Password is required
      </div>
      <div *ngIf="resetPasswordForm.controls['password'].hasError('pattern')">
        Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter and one number
      </div>
    </div>

    <div class="flex justify-center pt-7 pb-5">
      <button
        type="submit"
        class="py-4 px-2 my-5 w-2/3 font-bold rounded tracking-wide flex items-center justify-center"
      >
        <span *ngIf="!isLoading" class="text-xl">Reset Password</span>
        <span *ngIf="isLoading">
          <svg
            aria-hidden="true"
            class="w-8 h-8 text-gray-300 animate-spin dark:text-gray-400 fill-green-800"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"
            />
          </svg>
        </span>
      </button>
    </div>

  </fieldset>
   <!-- LINKS  -->
   <div class="flex flex-col p-7">
    <a [routerLink]="['/security/signin']" routerLinkActive="router-link-active"
      class="pl-4 font-semibold hover:underline">Sign In
    </a>
    <a [routerLink]="['/security/registration']" routerLinkActive="router-link-active"
      class="pl-4 font-semibold hover:underline">Create Account
    </a>
    <a [routerLink]="['/']" routerLinkActive="router-link-active"
      class="pl-4 font-semibold hover:underline">Return To Home Page
    </a>
  </div>
  </form>

</div>