
<div class="contact-container justify-center flex">
  <div class="flex w-full 2xl:my-20 2xl:w-2/3 2xl:shadow-lg">
    <div class="hidden lg:block w-full lg:w-1/2">
      <div id="map" class="h-full w-full">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.264657686474!2d-95.92073828884271!3d41.15057601053186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793886a86ca807f%3A0x838e857240d175eb!2sBellevue%20University!5e0!3m2!1sen!2sus!4v1720304707167!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="h-full w-full">
        </iframe></div>
    </div>
    <div class="w-full lg:w-1/2 px-4 py-20 bg-white">
      <h1 class="text-3xl lg:text-4xl pl-6 pb-3 primary-text font-light">Contact Us</h1>
      <ul>
        <li class="flex p-4">
          <i class="material-icons px-2 primary-text">phone</i>

            <h4 class="text-lg lg:text-xl font-semibold ">Phone:</h4>
            <a href="tel:+18005555435" class="text-lg lg:text-xl  pl-2">1(800)555-5435</a>
        
        </li>
        <li class="flex p-4">
          <i class="material-icons px-2 primary-text">fax</i>
      
            <h4 class="text-lg lg:text-xl font-semibold ">Fax:</h4>
            <p class="text-lg lg:text-xl  pl-2">1(800)555-5432</p>
        
        </li>
        <li class="flex  p-4">
          <i class="material-icons px-2 primary-text">email</i>
      
            <h4 class="text-lg lg:text-xl font-semibold ">Email:</h4>
            <a href="mailto:support&#64;example.com" class="text-lg lg:text-xl  pl-2">support&#64;example.com</a>
        
        </li>
        <li class="flex p-4">
          <i class="material-icons px-2 primary-text">location_pin</i>
      
            <h4 class="text-lg lg:text-xl font-semibold">Address:</h4>
            <p class="text-lg lg:text-xl  pl-2">
              Bellevue University<br>1000 Galvin Rd S<br> Bellevue, NE 68005
            </p>
        
        </li>
      </ul>
    </div>
  </div>
</div>
