<div class="employee-directory-container">
  <div class="w-full hidden mb-8 p-10 md:block lg:w-11/12 2xl:w-3/4">
    <div class="overflow-hidden rounded-lg shadow-md mt-3">
      <h2 class="primary text-3xl text-center text-white uppercase font-bold tracking-wider py-3 rounded-t-lg">Employee Directory</h2>
      <hr>
      <table class="min-w-full rounded-lg text-left">
        <thead class="primary rounded-t-lg text-white uppercase tracking-wider">
          <tr>
            <th class="px-6 py-4">Profile Image</th>
            <th class="px-6 py-4 border-x-2">First Name</th>
            <th class="px-6 py-4 border-x-2">Last Name</th>
            <th class="px-6 py-4">Phone Number</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-slate-300 font-semibold">
          <tr>
            <td class="px-6 py-4">
              <div class="bob-img w-24 h-24 rounded-full"></div>
            </td>
            <td class="px-6 py-4 border-x-2 border-gray-300">Bob</td>
            <td class="px-6 py-4 border-x-2 border-gray-300">Simpson</td>
            <td class="px-6 py-4">4568968523</td>
          </tr>
          <tr>
            <td class="px-6 py-4">
              <div class="johann-img w-24 h-24 rounded-full"></div>
            </td>
            <td class="px-6 py-4 border-x-2 border-gray-300">Johann</td>
            <td class="px-6 py-4 border-x-2 border-gray-300">Bach</td>
            <td class="px-6 py-4">1234567890</td>
          </tr>
          <tr>
            <td class="px-6 py-4">
              <div class="wolfgang-img w-24 h-24 rounded-full"></div>
            </td>
            <td class="px-6 py-4 border-x-2 border-gray-300">Wolfgang</td>
            <td class="px-6 py-4 border-x-2 border-gray-300">Mozart</td>
            <td class="px-6 py-4">5551237581</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
