<div class="flex flex-col min-h-screen w-full items-center py-6 lg:py-10">
  <div class="w-full mb-8 p-10 md:block lg:w-11/12 2xl:w-3/4">
      <h2 class="text-3xl lg:text-4xl 2xl:text-5xl pb-4 primary-text font-light text-center">Employee Directory</h2>
      <div class="mb-8 md:block">
        <div class="overflow-hidden rounded-lg shadow-md mt-3">
          <table class="min-w-full rounded-lg text-left">
            <thead class="primary rounded-t-lg text-white uppercase tracking-wider">
              <tr>
                <th class="px-6 py-4">Profile Image</th>
                <th class="px-6 py-4 border-x-2">First Name</th>
                <th class="px-6 py-4 border-x-2">Last Name</th>
                <th class="px-6 py-4">Phone Number</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-300 font-semibold">
              <tr>
                <td class="px-6 py-4">
                  <div class="bob-img w-24 h-24 rounded-full"></div>
                </td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Bob</td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Simpson</td>
                <td class="px-6 py-4">4568968523</td>
              </tr>
              <tr>
                <td class="px-6 py-4">
                  <div class="johann-img w-24 h-24 rounded-full"></div>
                </td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Johann</td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Bach</td>
                <td class="px-6 py-4">1234567890</td>
              </tr>
              <tr>
                <td class="px-6 py-4">
                  <div class="wolfgang-img w-24 h-24 rounded-full"></div>
                </td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Wolfgang</td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Mozart</td>
                <td class="px-6 py-4">5551237581</td>
              </tr>
              <tr>
                <td class="px-6 py-4">
                  <div class="jackie-img w-24 h-24 rounded-full"></div>
                </td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Jackie</td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Simpson</td>
                <td class="px-6 py-4">4452236458</td>
              </tr>
              <tr>
                <td class="px-6 py-4">
                  <div class="nick-img w-24 h-24 rounded-full"></div>
                </td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Nick</td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Trent</td>
                <td class="px-6 py-4">6594457485</td>
              </tr>
              <tr>
                <td class="px-6 py-4">
                  <div class="connor-img w-24 h-24 rounded-full"></div>
                </td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Connor</td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Stuart</td>
                <td class="px-6 py-4">5551237581</td>
              </tr>
              <tr>
                <td class="px-6 py-4">
                  <div class="rosalia-img w-24 h-24 rounded-full"></div>
                </td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Rosalia</td>
                <td class="px-6 py-4 border-x-2 border-gray-300">Rivera</td>
                <td class="px-6 py-4">5554789456</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
