<div class="invoice-container">
  <h2 class="text-3xl lg:text-4xl 2xl:text-5xl pt-6 primary-text font-light text-center">Invoice</h2>
  <div class="w-full lg:w-2/3 2xl:w-1/2 flex justify-between">
    <div></div>
    <a (click)="printInvoice()" class="mr-2 flex bg-transparent cursor-pointer self-end ">
      <p class="font-semi-bold text-xl text-blue-600 pr-2 hover:underline">Print Invoice</p>
      <div>
        <i class="fa-solid fa-print text-xl text-blue-600"></i>
      </div>
    </a>
  </div>
  <div class="w-full lg:w-2/3 2xl:w-1/2 py-4 px-8 lg:py-8 bg-white rounded-lg shadow-lg border">
    <form id="printArea" action="submit" class="print-area p-8 lg:p-16">
      <img src="./assets/images/logo.png" alt="Bob's Computer Repair Shop Logo" width="260px"
        class="mb-6">
      <p class="mb-4 font-semibold">Invoice Number: {{ invoice.invoiceId }}</p>
      <div id="invoice">
        <div class="flex justify-between items-center mb-4">
          <label class="font-semibold">Date:</label>
          <p id="invoiceDate">{{ invoice.orderDate }}</p>
        </div>

        <div class="flex justify-between items-center mb-4">
          <label class="font-semibold">Full Name:</label>
          <p id="fullName">{{ invoice.fullName }}</p>
        </div>

        <div class="flex justify-between items-center mb-4">
          <label class="font-semibold">Phone Number:</label>
          <p id="invoicePhoneNumber">{{ invoice.phoneNumber }}</p>
        </div>

        <div class="flex justify-between items-center mb-4">
          <label class="font-semibold">Email:</label>
          <p id="invoiceEmail">{{ invoice.customerEmail }}</p>
        </div>

        <br>
        <br>
        <div class="flex justify-between items-center mb-4">
          <label class="font-semibold">Services:</label>
          <ul class="list-disc list-inside">
            <li *ngFor="let item of invoice?.lineItems" class="list-none text-right">
              {{ item.itemName }} ({{ item.price | currency:'USD' }})
            </li>
          </ul>
        </div>

        <div class="flex justify-between items-center mb-4">
          <label class="font-semibold">Labor Amount:</label>
          <p id="invoiceEmail">${{ invoice.laborAmount }} at $50/Hour</p>
        </div>

        <div class="flex justify-between items-center mb-4">
          <label class="font-semibold">Notes:</label>
          <p id="invoiceEmail">{{ invoice.customOrderDescription }}</p>
        </div>

        <br>
        <br>
        <div class="flex justify-between items-center mb-4">
          <label class="font-semibold">Tax:</label>
          <p id="taxAmount">{{ ((invoice.laborAmount || 0) + (invoice.lineItemTotal || 0)) * 0.09 | currency:'USD' }}
          </p>
        </div>

        <div class="flex justify-between items-center mb-4">
          <label class="font-semibold">Total:</label>
          <p id="totalAmount" class="font-bold">{{ invoice.invoiceTotal | currency:'USD' }}</p>
        </div>

        <br>
        <br>
        <div class="mb-8">
          <label class="font-semibold">Signature: ______________________________________________</label>
        </div>

        <br>
        <div class="mb-8">
          <label class="font-semibold"> Date:________________________</label>
        </div>
      </div>
    </form>
  </div>
</div>