<div class="bg-color">
  <div class="border-slate-600 base-container">
    <a routerLink="/">
      <img src="./assets/images/logo.png" alt="Bob's Computer Repair Shop Logo" width="300px" class="pl-6 py-3">
    </a>
  </div>

  <div class="flex justify-center mx-6 pt-8 lg:pt-16 lg:pb-8">
    <div class="w-full lg:w-1/2 2xl:w-1/3 md:px-8 lg:px-12 md:py-10 2xl:py-20 md:pb-8 border rounded-lg bg-white shadow-lg">
      <h2 class="pl-6 pt-6 lg: text-3xl 3xl:text-4xl font-semibold">Create a New Account</h2>

      <mat-horizontal-stepper [linear]="isLinear" #stepper class="pb-12">
        <!-- STEP 1 -->
        <mat-step [stepControl]="firstFormGroup" label="Personal Information">
          <form [formGroup]="firstFormGroup" class="space-y-4">
            <!-- EMAIL VALIDATION ERRORS -->
            <div *ngIf="firstFormGroup.controls['email'].invalid && (firstFormGroup.controls['email'].dirty || firstFormGroup.controls['email'].touched)" class="text-red-600 text-sm">
              <div *ngIf="firstFormGroup.controls['email'].errors?.['required']">
                Email is required.
              </div>
              <div *ngIf="firstFormGroup.controls['email'].errors?.['email']">
                Must be a valid email address.
              </div>
            </div>
            <!-- input -->
            <div>
              <p class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Email</p>
              <div>
                <input id="email" formControlName="email" placeholder="Enter Your Email" required
                  class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200">
              </div>
            </div>
            <!-- PASSWORD VALIDATION ERRORS -->
            <div *ngIf="firstFormGroup.controls['password'].invalid && (firstFormGroup.controls['password']?.dirty || firstFormGroup.controls['password'].touched)" class="text-red-600 text-sm">
              <div *ngIf="firstFormGroup.controls['password'].errors?.['required']">
                Password is required.
              </div>
              <div *ngIf="firstFormGroup.controls['password'].errors?.['pattern']">
                Password must contain numbers, letters, and symbols and be at least 8 characters long.
              </div>
            </div>
            <!-- input -->
            <div>
              <p class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Password</p>
              <div class="flex">
                <input id="password" [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
                  [ngClass]="{'border-red-600': errMessage, 'placeholder-err': errMessage}"
                  placeholder="Enter Your Password"
                  class="block w-full p-2 border border-gray-300 rounded-l-md focus:outline-none focus:shadow focus:border-blue-200">
                <span
                  class="px-4 inline-flex items-center rounded-r-lg border border-gray-300 bg-gray-300 focus:outline-none focus:shadow focus:border-blue-200">
                  <i class="fa" [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType 
                  }" (click)="toggleFieldTextType()">
                  </i>
                </span>
              </div>
            </div>

            <div>
              <button matStepperNext class="py-2 px-3 rounded-md w-full md:w-auto">Next ></button>
            </div>
          </form>
        </mat-step>

        <!-- STEP 2 -->
        <mat-step [stepControl]="secondFormGroup" label="Contact Information">
          <form [formGroup]="secondFormGroup" class="space-y-4">
            <div>
              <p class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">First Name</p>
              <div>
                <input id="firstName" formControlName="firstName" placeholder="Enter Your First Name" required
                  class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200">
              </div>
            </div>

            <div>
              <p class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Last Name</p>
              <div>
                <input id="lastName" formControlName="lastName" placeholder="Enter Your Last Name" required
                  class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200">
              </div>
            </div>

            <div>
              <p class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Phone Number</p>
              <div>
                <input id="phone" formControlName="phoneNumber" placeholder="(555)123-4567" required
                  class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200">
              </div>
            </div>

            <div>
              <p class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Address</p>
              <div>
                <input id="address" formControlName="address" placeholder="Enter Your Address" required
                  class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200">
              </div>
            </div>

            <div>
              <button matStepperPrevious class="opacity-90 py-2 px-3 rounded-md w-full md:w-auto">< Back</button>
              <button matStepperNext class="mt-3 md:mt-0 md:ml-2 py-2 px-3 rounded-md w-full md:w-auto">Next ></button>
            </div>
          </form>
        </mat-step>

        <!-- STEP 3 -->
        <mat-step [stepControl]="thirdFormGroup" label="Security Questions">
          <form [formGroup]="thirdFormGroup" class="space-y-4">
            <div>
              <h4 class="text-medium 2lg:text-xl font-bold tracking-wide pb-2 text-start pt-4">Select Security Question 1</h4>
              <mat-form-field class="w-full">
                <mat-select placeholder="Select question" formControlName="question1" required>
                  <mat-option *ngFor="let question of qArray1" [value]="question">{{ question }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <input id="answer1" formControlName="answer1" placeholder="Security Question Answer" required
                  class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200">
              </div>
            </div>

            <div>
              <h4 class="text-medium 2lg:text-xl font-bold tracking-wide pb-2 text-start pt-4">Select Security Question 2</h4>
              <mat-form-field class="w-full">
                <mat-select placeholder="Select question" formControlName="question2" required>
                  <mat-option *ngFor="let question of qArray2" [value]="question">{{ question }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <input id="answer2" formControlName="answer2" placeholder="Security Question Answer" required
                  class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200">
              </div>
            </div>

            <div>
              <h4 class="text-medium 2lg:text-xl font-bold tracking-wide pb-2 text-start pt-4">Select Security Question 3</h4>
              <mat-form-field class="w-full">
                <mat-select placeholder="Select question" formControlName="question3" required>
                  <mat-option *ngFor="let question of qArray3" [value]="question">{{ question }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <input id="answer3" formControlName="answer3" placeholder="Security Question Answer" required
                  class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200">
              </div>
            </div>

            <div>
              <button matStepperPrevious class="opacity-90 py-2 px-3 rounded-md w-full md:w-auto">< Back</button>
              <button (click)="register()" class="mt-3 md:mt-0 md:ml-2 py-2 px-3 rounded-md w-full md:w-auto">Submit</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>

      <!-- ERROR MESSAGE -->
      <div *ngIf="errMessage" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
        {{ errMessage }}
      </div>
    </div>
  </div>
</div>
