<div class="bg-color">
  <div class="border-slate-600 base-container">
    <a routerLink="/">
      <img src="./assets/images/logo.png" alt="Bob's Computer Repair Shop Logo" width="300px" class="pl-6 py-3">
    </a>
  </div>

  <div class="flex justify-center mx-6 pt-8 lg:pt-16 lg:pb-8">
    <div class="w-full md:w-3/4 lg:w-1/2 2xl:w-1/3 md:px-8 lg:px-12 md:py-10 2xl:py-20 md:pb-8 border rounded-lg bg-white shadow-lg">
      <h2 class="pl-6 pt-6 lg: text-3xl 3xl:text-4xl font-semibold">Create a New Account</h2>

      <mat-horizontal-stepper [linear]="true" #stepper>
        <!-- STEP 1 -->
        <mat-step [stepControl]="firstFormGroup" label="Personal Information">
          <form [formGroup]="firstFormGroup">
            <!-- EMAIL -->
            <label class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Email</label>
            <div>
              <input id="email" formControlName="email" placeholder="Enter Your Email" required
                [ngClass]="{'border-red-600 placeholder-err': firstFormGroup.controls['email'].invalid && (firstFormGroup.controls['email'].dirty || firstFormGroup.controls['email'].touched)}"
                class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200 mb-4">
            </div>
            <div *ngIf="firstFormGroup.controls['email'].invalid && (firstFormGroup.controls['email'].dirty || firstFormGroup.controls['email'].touched)" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
              <div *ngIf="firstFormGroup.controls['email'].hasError('required')">
                Email is required.
              </div>
              <div *ngIf="firstFormGroup.controls['email'].hasError('email')">
                Must be a valid email address.
              </div>
            </div>

            <!-- PASSWORD  -->
            <label class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Password</label>
            <div class="flex">
              <input id="password" [type]="fieldTextType ? 'text' : 'password'" formControlName="password"
                [ngClass]="{'border-red-600 placeholder-err': firstFormGroup.controls['password'].invalid && (firstFormGroup.controls['password'].dirty || firstFormGroup.controls['password'].touched)}"
                placeholder="Enter Your Password"
                class="block w-full p-2 border border-gray-300 rounded-l-md focus:outline-none focus:shadow focus:border-blue-200 mb-4">
              <span
                class="px-4 inline-flex items-center rounded-r-lg border border-gray-300 bg-gray-300 focus:outline-none focus:shadow focus:border-blue-200 mb-4">
                <i class="fa" [ngClass]="{
                  'fa-eye-slash': !fieldTextType,
                  'fa-eye': fieldTextType 
                }" (click)="toggleFieldTextType()">
                </i>
              </span>
            </div>
            <div *ngIf="firstFormGroup.controls['password'].invalid && (firstFormGroup.controls['password'].dirty || firstFormGroup.controls['password'].touched)" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
              <div *ngIf="firstFormGroup.controls['password'].hasError('required')">
                Password is required.
              </div>
              <div *ngIf="firstFormGroup.controls['password'].hasError('pattern')">
                Password must contain uppercase and lowercase letters, numbers, and be at least 8 characters long.
              </div>
            </div>

            <div>
              <button 
              matStepperNext 
              [disabled]="firstFormGroup.invalid" 
              [ngClass]="{'bg-gray-300': firstFormGroup.invalid}"
              class="mt-2 py-2 px-3 rounded-md w-full md:w-auto"
              >
              Next 
              ></button>
            </div>
          </form>
        </mat-step>

        <!-- STEP 2 -->
        <mat-step [stepControl]="secondFormGroup" label="Contact Information">
          <form [formGroup]="secondFormGroup">
            <label for="firstName" class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">First Name</label>
            <div>
              <input id="firstName" formControlName="firstName" placeholder="Enter Your First Name" required
                [ngClass]="{'border-red-600 placeholder-err': secondFormGroup.controls['firstName'].invalid && (secondFormGroup.controls['firstName'].dirty || secondFormGroup.controls['firstName'].touched)}"
                class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200 mb-4">
            </div>
            <div *ngIf="secondFormGroup.controls['firstName'].invalid && (secondFormGroup.controls['firstName'].dirty || secondFormGroup.controls['firstName'].touched)" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
              <div *ngIf="secondFormGroup.controls['firstName'].hasError('required')">
                First Name is required.
              </div>
            </div>

            <label class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Last Name</label>
            <div>
              <input id="lastName" formControlName="lastName" placeholder="Enter Your Last Name" required
                [ngClass]="{'border-red-600 placeholder-err': secondFormGroup.controls['lastName'].invalid && (secondFormGroup.controls['lastName'].dirty || secondFormGroup.controls['lastName'].touched)}"
                class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200 mb-4">
            </div>
            <div *ngIf="secondFormGroup.controls['lastName'].invalid && (secondFormGroup.controls['lastName'].dirty || secondFormGroup.controls['lastName'].touched)" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
              <div *ngIf="secondFormGroup.controls['lastName'].hasError('required')">
                Last Name is required.
              </div>
            </div>

            <label class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Phone Number</label>
            <div>
              <input id="phone" formControlName="phoneNumber" placeholder="(555)123-4567" required
                [ngClass]="{'border-red-600 placeholder-err': secondFormGroup.controls['phoneNumber'].invalid && (secondFormGroup.controls['phoneNumber'].dirty || secondFormGroup.controls['phoneNumber'].touched)}"
                class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200 mb-4">
            </div>
            <div *ngIf="secondFormGroup.controls['phoneNumber'].invalid && (secondFormGroup.controls['phoneNumber'].dirty || secondFormGroup.controls['phoneNumber'].touched)" class="ml-2 bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
              <div *ngIf="secondFormGroup.controls['phoneNumber'].hasError('required')">
                Phone Number is required.
              </div>
            </div>

            <label class="text-medium 2xl:text-xl font-bold tracking-wide text-start mt-4">Address</label>
            <div>
              <input id="address" formControlName="address" placeholder="Enter Your Address" required
                [ngClass]="{'border-red-600 placeholder-err': secondFormGroup.controls['address'].invalid && (secondFormGroup.controls['address'].dirty || secondFormGroup.controls['address'].touched)}"
                class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200 mb-4">
            </div>
            <div *ngIf="secondFormGroup.controls['address'].invalid && (secondFormGroup.controls['address'].dirty || secondFormGroup.controls['address'].touched)" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
              <div *ngIf="secondFormGroup.controls['address'].hasError('required')">
                Address is required.
              </div>
            </div>

            <div>
              <button matStepperPrevious class="opacity-90 py-2 px-3 rounded-md w-full mt-2  md:w-auto">< Back</button>
              <button 
              matStepperNext 
              [disabled]="secondFormGroup.invalid" 
              [ngClass]="{'bg-gray-300': secondFormGroup.invalid}"
              class="mt-2 py-2 px-3 rounded-md w-full md:w-auto"
              >
              Next 
              ></button>
            </div>
          </form>
        </mat-step>

        <!-- STEP 3 -->
        <mat-step [stepControl]="thirdFormGroup" label="Security Questions">
          <form [formGroup]="thirdFormGroup">
            <label class="text-medium 2lg:text-xl font-bold tracking-wide text-start pt-4">Select Security Question 1</label>
            <mat-form-field class="w-full">
              <mat-select placeholder="Select question" formControlName="question1" required>
                <mat-option *ngFor="let question of qArray1" [value]="question">{{ question }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <input id="answer1" formControlName="answer1" placeholder="Security Question Answer" required
                [ngClass]="{'border-red-600 placeholder-err': thirdFormGroup.controls['answer1'].invalid && (thirdFormGroup.controls['answer1'].dirty || thirdFormGroup.controls['answer1'].touched)}"
                class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200 mb-4">
            </div>
            <div *ngIf="thirdFormGroup.controls['answer1'].invalid && (thirdFormGroup.controls['answer1'].dirty || thirdFormGroup.controls['answer1'].touched)" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
              <div *ngIf="thirdFormGroup.controls['answer1'].hasError('required')">
                Answer is required.
              </div>
            </div>

            <label class="text-medium 2lg:text-xl font-bold tracking-wide text-start pt-4">Select Security Question 2</label>
            <mat-form-field class="w-full">
              <mat-select placeholder="Select question" formControlName="question2" required>
                <mat-option *ngFor="let question of qArray2" [value]="question">{{ question }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <input id="answer2" formControlName="answer2" placeholder="Security Question Answer" required
                [ngClass]="{'border-red-600 placeholder-err': thirdFormGroup.controls['answer2'].invalid && (thirdFormGroup.controls['answer2'].dirty || thirdFormGroup.controls['answer2'].touched)}"
                class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200 mb-4">
            </div>
            <div *ngIf="thirdFormGroup.controls['answer2'].invalid && (thirdFormGroup.controls['answer2'].dirty || thirdFormGroup.controls['answer2'].touched)" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
              <div *ngIf="thirdFormGroup.controls['answer2'].hasError('required')">
                Answer is required.
              </div>
            </div>

            <label class="text-medium 2lg:text-xl font-bold tracking-wide text-start pt-4">Select Security Question 3</label>
            <mat-form-field class="w-full">
              <mat-select placeholder="Select question" formControlName="question3" required>
                <mat-option *ngFor="let question of qArray3" [value]="question">{{ question }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <input id="answer3" formControlName="answer3" placeholder="Security Question Answer" required
                [ngClass]="{'border-red-600 placeholder-err': thirdFormGroup.controls['answer3'].invalid && (thirdFormGroup.controls['answer3'].dirty || thirdFormGroup.controls['answer3'].touched)}"
                class="block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:shadow focus:border-blue-200 mb-4">
            </div>
            <div *ngIf="thirdFormGroup.controls['answer3'].invalid && (thirdFormGroup.controls['answer3'].dirty || thirdFormGroup.controls['answer3'].touched)" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
              <div *ngIf="thirdFormGroup.controls['answer3'].hasError('required')">
                Answer is required.
              </div>
            </div>

            <div>
              <button matStepperPrevious class="opacity-90 py-2 px-3 rounded-md w-full mt-2 md:w-auto">< Back</button>
              <button 
              (click)="register()" 
              [disabled]="thirdFormGroup.invalid" 
              [ngClass]="{'bg-gray-300': thirdFormGroup.invalid}"
              class="ml-2 py-2 px-3 rounded-md w-full md:w-auto"
              >
                <span *ngIf="!isLoading">Create Account</span>
                <span *ngIf="isLoading" role="status">
                  <svg aria-hidden="true"
                    class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-300 fill-green-500 m-auto"
                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                      fill="currentColor" />
                    <path
                      d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                      fill="currentFill" />
                  </svg>
                </span>
              </button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>

      <!-- ERROR MESSAGE -->
      <div *ngIf="errMessage" class="bg-red-50 text-red-800 p-2 mt-2 rounded" role="alert">
        {{ errMessage }}
      </div>
      <div class="flex flex-col pl-2 pb-6">
        <a [routerLink]="['/security/signin']" routerLinkActive="router-link-active"
          class="pl-4 font-semibold hover:underline">Sign In
        </a>
        <a [routerLink]="['/security/verify-email']" routerLinkActive="router-link-active"
          class="pl-4 font-semibold hover:underline">Forgot Password
        </a>
        <a [routerLink]="['/']" routerLinkActive="router-link-active"
          class="pl-4 font-semibold hover:underline">Return To Home Page
        </a>
      </div>
    </div>
  </div>
</div>
