
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bcrs-primary: mat.define-palette(mat.$indigo-palette);
$bcrs-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bcrs-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bcrs-theme: mat.define-light-theme((
  color: (
    primary: $bcrs-primary,
    accent: $bcrs-accent,
    warn: $bcrs-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bcrs-theme);


@tailwind base;
@tailwind components;
@tailwind utilities;
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  background-color: rgb(248, 248, 248);
  color: rgb(35, 35, 35)
}

//Theme
.primary {
  background-color: rgb(34,77,49);
}

.primary-text {
  color: rgb(34,77,49);
}

.secondary {
  background-color: rgb(173,173,173);
}

.secondary-text {
  color: rgb(173,173,173);
}

.tertiary {
  background-color: rgb(71,71,71)
}

.tertiary-text {
  color: rgb(71,71,71)
}

.page-container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 300;
  }

  &.flex-col {
    flex-direction: column;
  }

  &.flex-row {
    flex-direction: row;
  }
}

button {
  background-color: rgb(34,77,49);
  color: #fff;
}

.active {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .page-container {
    min-height: auto;
    .page-container {
      width: 100%;
      overflow-x: hidden;
  }

    align-items: flex-start;
  }

  .page-container.flex-col {
    align-items: center;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1800px) {
  .page-container {
    padding-top: 10%;
    align-items: flex-start;
  }

  .page-container.flex-col {
    align-items: center;
    justify-content: flex-start;
  }
  .base-container {
    max-width: 100%;
    width: 85%;
    margin:0 auto
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
