  <!-- Home page when not logged in -->
  <div *ngIf="!isLoggedIn" class="w-full flex flex-col justify-center bg-white">
    <div class="py-8 lg:py-12 2xl:py-20">
      <h1 class="m-auto py-4 lg:w-1/2 2xl:w-1/3 leading-10 text-center text-3xl lg:text-5xl uppercase font-black pb-3">
        Welcome to Bob's Computer
        Repair Shop</h1>
      <div class="px-4 lg:px-0 lg:w-3/4 2xl:w-1/2 flex-row mx-auto pb-4 lg:pb-6 text-center text-lg">
        <p class="py-2">Welcome to Bob's Computer Repair Shop, your trusted destination for efficient and reliable
          computer repair services. We understand your devices' crucial role in your daily life, and our mission is to
          get
          you back on track quickly. Our skilled technicians handle everything from hardware to software problems with
          precision and expertise.</p>

        <p class="py-2">Customer satisfaction is our top priority, and we pride ourselves on clear communication,
          transparent pricing, and timely service. Whether your computer is running slow or facing more complex issues,
          we
          have you covered.</p>

        <p class="py-2">Below, you will find a list of our core services. If there is a service you do not see, feel
          free
          give us a call or visit our store. Thank you for choosing Bob's Computer Repair Shop – where your tech issues
          find their perfect fix.</p>
      </div>

      <div class="text-center">
        <a (click)="scrollToServiceCards($event)" class="cursor-pointer">
          <i class="fas fa-angle-down animate-pulse text-4xl primary-text"></i>
        </a>
      </div>
    </div>
    <!-- Service Cards -->
    <div id="service-cards" #serviceCards class="bg-gray-100">
      <div class="lg:w-3/4 2xl:w-1/2 m-auto lg:py-12">
        <div class="grid lg:grid-cols-4 grid-rows-2 gap-6 py-4 px-5">
          <!-- ROW 1 -->
          <div
            class="flex flex-col justify-between items-center text-center px-3 py-5 hover:bg-white hover:border hover:border-gray-300 hover:rounded-lg h-full">
            <img src="../../assets/images/password.png" width="50px" alt="">
            <h3 class="font-bold text-xl pt-3">Password Reset Service</h3>
            <div class="py-1">
              <p>Cost: $39.99</p>
            </div>
            <div class="mt-auto w-full">
              <button routerLink="contact"
                class="mt-2 px-3 py-2 rounded w-full lg:w-3/4 h-10 uppercase hover:opacity-90">Book service</button>
            </div>
          </div>

          <div
            class="flex flex-col justify-between items-center text-center px-3 py-5 hover:bg-white hover:border hover:border-gray-300 hover:rounded-lg h-full">
            <img src="../../assets/images/spywear.png" width="50px" alt="">
            <h3 class="font-bold text-xl pt-3">Spyware Removal Service</h3>
            <div class="py-1">
              <p>Cost: $99.99</p>
            </div>
            <div class="mt-auto w-full">
              <button routerLink="contact"
                class="mt-2 px-3 py-2 rounded w-full lg:w-3/4 h-10 uppercase hover:opacity-90">Book service</button>
            </div>
          </div>

          <div
            class="flex flex-col justify-between items-center text-center px-3 py-5 hover:bg-white hover:border hover:border-gray-300 hover:rounded-lg h-full">
            <img src="../../assets/images/ram-chip.png" width="50px" alt="">
            <h3 class="font-bold text-xl pt-3">RAM Upgrade Service</h3>
            <div class="py-1">
              <p>Cost: $129.99</p>
            </div>
            <div class="mt-auto w-full">
              <button routerLink="contact"
                class="mt-2 px-3 py-2 rounded w-full lg:w-3/4 h-10 uppercase hover:opacity-90">Book service</button>
            </div>
          </div>

          <div
            class="flex flex-col justify-between items-center text-center px-3 py-5 hover:bg-white hover:border hover:border-gray-300 hover:rounded-lg h-full">
            <img src="../../assets/images/softwear.png" width="50px" alt="">
            <h3 class="font-bold text-xl pt-3">Software Installation Service</h3>
            <div class="py-1">
              <p>Cost: $49.99</p>
            </div>
            <div class="mt-auto w-full">
              <button routerLink="contact"
                class="mt-2 px-3 py-2 rounded w-full lg:w-3/4 h-10 uppercase hover:opacity-90">Book service</button>
            </div>
          </div>

          <!-- ROW 2 -->
          <div
            class="flex flex-col justify-between items-center text-center px-3 py-5 hover:bg-white hover:border hover:border-gray-300 hover:rounded-lg h-full">
            <img src="../../assets/images/pc-tune-up.png" width="50px" alt="">
            <h3 class="font-bold text-xl pt-3">PC Tune-Up Service</h3>
            <div class="py-1">
              <p>Cost: $89.99</p>
            </div>
            <div class="mt-auto w-full">
              <button routerLink="contact"
                class="mt-2 px-3 py-2 rounded w-full lg:w-3/4 h-10 uppercase hover:opacity-90">Book service</button>
            </div>
          </div>

          <div
            class="flex flex-col justify-between items-center text-center px-3 py-5 hover:bg-white hover:border hover:border-gray-300 hover:rounded-lg h-full">
            <img src="../../assets/images/keyboard.png" width="50px" alt="">
            <h3 class="font-bold text-xl pt-3">Keyboard Cleaning Service</h3>
            <div class="py-1">
              <p>Cost: $45.00</p>
            </div>
            <div class="mt-auto w-full">
              <button routerLink="contact"
                class="mt-2 px-3 py-2 rounded w-full lg:w-3/4 h-10 uppercase hover:opacity-90">Book service</button>
            </div>
          </div>

          <div
            class="flex flex-col justify-between items-center text-center px-3 py-5 hover:bg-white hover:border hover:border-gray-300 hover:rounded-lg h-full">
            <img src="../../assets/images/ram-chip.png" width="50px" alt="">
            <h3 class="font-bold text-xl pt-3">Disk Clean-Up Service</h3>
            <div class="py-1">
              <p>Cost: $129.99</p>
            </div>
            <div class="mt-auto w-full">
              <button routerLink="contact"
                class="mt-2 px-3 py-2 rounded w-full lg:w-3/4 h-10 uppercase hover:opacity-90">Book service</button>
            </div>
          </div>

          <div
            class="flex flex-col justify-between items-center text-center px-3 py-5 hover:bg-white hover:border hover:border-gray-300 hover:rounded-lg h-full">
            <img src="../../assets/images/softwear.png" width="50px" alt="">
            <h3 class="font-bold text-xl pt-3">Custom Services</h3>
            <div class="py-1">
              <p>Cost: $50.00 per hour</p>
            </div>
            <div class="mt-auto w-full">
              <button routerLink="contact"
                class="mt-2 px-3 py-2 rounded w-full lg:w-3/4 h-10 uppercase hover:opacity-90">Book service</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Home page when logged in -->
  <div *ngIf="isLoggedIn" class="text-center home-container">

    <h2 class="pb-6 pt-20 lg:pt-24 text-3xl font-bold tracking-wide md:text-3xl xl:text-5xl">
      Welcome back <span>{{ appUser.firstName }}</span>!
    </h2>
    <div class="flex flex-col m-auto lg:w-3/4 2xl:w-1/2">
      <p class="text-xl mb-8 px-4">Here's your dashboard where you can manage your services.</p>
      <button routerLink="/service-repair"
        class="primary w-1/2 lg:w-1/3 2xl:w-1/8 m-auto hover:opacity-90 text-white text-lg font-bold py-2 px-4 rounded tracking-wider">
        Create New Service
      </button>

      <h2 class="text-2xl lg:text-3xl font-bold pt-12">Tips and Up sales</h2>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:py-12">
        <div class="p-6 flex flex-col">
          <i class="fa-regular fa-message  primary-text text-5xl pb-8"></i>
          <h2 class="text-2xl font-bold mb-2 tracking-wider">Costumer Service Tips</h2>
          <p class="text-lg">Make sure you always greet the costumer with a smile.</p>
        </div>
        <div class="p-6 flex flex-col">
          <i class="fa-regular fa-clock  primary-text text-5xl pb-8"></i>
          <h2 class="text-2xl font-bold mb-2 tracking-wider">Productivity Tips</h2>
          <p class="text-lg">Prioritize tasks</p>
        </div>
        <div class="p-6 flex flex-col">
          <i class="fa-solid fa-chart-line primary-text text-5xl pb-8"></i>
          <h2 class="text-2xl font-bold mb-2 tracking-wider">Up Sales</h2>
          <p class="text-lg">We need to be up sale (item that needs to be up sale due to low sales)</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="bg-white shadow-lg lg:w-10/12">
          <h3
            class="primary text-center px-2 2xl:text-lg text-white uppercase border rounded-t drop-shadow-lg font-bold tracking-wider py-2">
            Password Reset Service</h3>

          <div class="py-6">
            <p class="text-center py-3 mx-4">We will brute force your computer and reset your password to a generic
              password.</p>

            <p class="text-center">Cost: $39.99</p>
          </div>

          <div class="flex justify-center py-4">
            <button routerLink="contact" class="border rounded w-2/3 h-10 uppercase hover:bg-green-700">Book
              service</button>
          </div>
        </div> -->

  <!-- Spyware Removal Card
          <div class="bg-white shadow-lg lg:w-10/12">
            <h3
              class="primary text-center text-white px-2 2xl:text-lg uppercase border rounded-t drop-shadow-lg font-bold tracking-wider py-2">
              Spyware Removal Service</h3>

            <div class="py-6">
              <p class="text-center py-3 mx-4">We will do a complete scan in your computer and remove any spyware from
                your device.</p>

              <p class="text-center">Cost: $99.99</p>
            </div>

            <div class="flex justify-center py-4">
              <button routerLink="contact" class="border rounded w-2/3 h-10 uppercase hover:bg-green-700">Book
                service</button>
            </div>
          </div> -->

  <!-- RAM Upgrade Card-->
  <!-- <div class="bg-white shadow-lg lg:w-10/12">
            <h3
              class="primary text-center text-white px-2 2xl:text-lg uppercase border rounded-t drop-shadow-lg font-bold tracking-wider py-2">
              RAM Upgrade Service</h3>

            <div class="py-6">
              <p class="text-center py-3 mx-4">We will upgrade your RAM. This will improve your computer's performance.
              </p>

              <p class="text-center">Cost: $129.99</p>
            </div>

            <div class="flex justify-center py-4">
              <button routerLink="contact" class="border rounded w-2/3 h-10 uppercase hover:bg-green-700">Book
                service</button>
            </div>
          </div> -->

  <!-- Software Installation Card -->
  <!-- <div class="bg-white shadow-lg lg:w-10/12">
            <h3
              class="primary text-center text-white px-2 2xl:text-lg uppercase border rounded-t drop-shadow-lg font-bold tracking-wider py-2">
              Software Installation Service</h3>

            <div class="py-6">
              <p class="text-center py-3 mx-4">We will install any software on your computer and tested to make sure it
                runs perfectly.</p>

              <p class="text-center">Cost: $49.99</p>
            </div>

            <div class="flex justify-center py-4">
              <button routerLink="contact" class="border rounded w-2/3 h-10 uppercase hover:bg-green-700">Book
                service</button>
            </div>
          </div> -->

  <!-- PC Tune-up Card
          <div class="bg-white shadow-lg lg:w-10/12">
            <h3
              class="primary text-center text-white px-2 2xl:text-lg uppercase border rounded-t drop-shadow-lg font-bold tracking-wider py-2">
              PC Tune-Up Service</h3>

            <div class="py-6">
              <p class="text-center py-3 mx-4">We will improve your computer's performance.</p>

              <p class="text-center">Cost: $89.99</p>
            </div>

            <div class="flex justify-center py-4">
              <button routerLink="contact" class="border rounded w-2/3 h-10 uppercase hover:bg-green-700">Book
                service</button>
            </div>
          </div> -->

  <!-- Keyboard Cleaning Card -->
  <!-- <div class="bg-white shadow-lg lg:w-10/12">
            <h3
              class="primary text-center text-white px-2 2xl:text-lg uppercase border rounded-t drop-shadow-lg font-bold tracking-wider py-2">
              Keyboard Cleaning Service</h3>

            <div class="py-6">
              <p class="text-center py-3 mx-4">We will deep clean your keyboard and change any damage keys.</p>

              <p class="text-center">Cost: $45.00</p>
            </div>

            <div class="flex justify-center py-4">
              <button routerLink="contact" class="border rounded w-2/3 h-10 uppercase hover:bg-green-700">Book
                service</button>
            </div>
          </div> -->

  <!-- Disk Clean-Up Card -->
  <!-- <div class="bg-white shadow-lg lg:w-10/12">
            <h3
              class="primary text-center text-white px-2 2xl:text-lg uppercase border rounded-t drop-shadow-lg font-bold tracking-wider py-2">
              Disk Clean-Up Service</h3>

            <div class="py-6">
              <p class="text-center py-3 mx-4">We will scan your hard drives to identify and remove unnecessary files.
              </p>

              <p class="text-center">Cost: $129.99</p>
            </div>

            <div class="flex justify-center py-4">
              <button routerLink="contact" class="border rounded w-2/3 h-10 uppercase hover:bg-green-700">Book
                service</button>
            </div>
          </div> -->
  <!-- Extra Services Card -->
  <!-- <div class="bg-white shadow-lg lg:w-10/12">
            <h3
              class="primary text-center text-white px-2 2xl:text-lg uppercase border rounded-t drop-shadow-lg font-bold tracking-wider py-2">
              Extra Service</h3>

            <div class="py-6">
              <p class="text-center py-3 mx-4">We also do other services in our shop. Contact us to find more
                information.
              </p>

              <p class="text-center">Cost: Part Cost + Labor ($50.00/hr)</p>
            </div>

            <div class="flex justify-center py-4">
              <button routerLink="contact" class="border rounded w-2/3 h-10 uppercase hover:bg-green-700">Book
                service</button>
            </div>
          </div>
        </div> -->
  <!-- </div>
    </div>
  </div> -->